WindowsWCFClient/Connected Services/DownloadService/DownloadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DownloadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IDownloadService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DownloadService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDownloadService_DownloadDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDocument" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_DownloadDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_Progress_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Progress" />
  </wsdl:message>
  <wsdl:message name="IDownloadService_Progress_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProgressResponse" />
  </wsdl:message>
  <wsdl:portType name="IDownloadService">
    <wsdl:operation name="DownloadDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadService/DownloadDocument" message="tns:IDownloadService_DownloadDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadService/DownloadDocumentResponse" message="tns:IDownloadService_DownloadDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Progress">
      <wsdl:output wsaw:Action="http://tempuri.org/IDownloadService/Progress" message="tns:IDownloadService_Progress_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IDownloadService/ProgressResponse" message="tns:IDownloadService_Progress_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IDownloadService" type="tns:IDownloadService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IDownloadService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadDocument">
      <soap12:operation soapAction="http://tempuri.org/IDownloadService/DownloadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Progress">
      <soap12:operation soapAction="http://tempuri.org/IDownloadService/Progress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DownloadService">
    <wsdl:port name="WSDualHttpBinding_IDownloadService" binding="tns:WSDualHttpBinding_IDownloadService">
      <soap12:address location="http://localhost:8080/DownloadService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8080/DownloadService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>